body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background: #daf1de;
}
header{
    background: #235347;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
}
nav{
    background: #163832;
    display: flex;
    justify-content: center;
}
nav ul{
    display: inline-flex;
    list-style: none;
    padding: 15px;
}
nav li a{
    color: white;
    text-decoration: none;
    background: #163832;
    padding: 30px 60px;
    transition: 400ms ease-in-out;
}
nav li a:hover{
    background: #0b2b26;
    color: cornflowerblue;
}
main{
    display: flex;
    flex-direction: column;  
}
main .fase-1{
    color: green;
    margin: 20px auto;
    background: #afafaf;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 20px 0;
    border-radius: 10px;
}
.fase-1 ul{
    list-style-type: square;
}
.fase-1 a{
    text-decoration: none;
    color: green;
}
.fase-1 a:hover{
    color:white;
    cursor: pointer;
}
main .fase-2{
    color: green;
    margin: 20px auto;
    background: #afafaf;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 20px 0;
    border-radius: 10px;
}
footer{
    background: black;
    color: white;
    padding: 20px;
}
footer a{
    color: white;
}
footer a:hover{
    color: cornflowerblue;
}
