*{
    margin: 0;
    padding: 0;   
}
body{
    display: flex;
    flex-direction: column;
    background: #dfdfdf;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    font-weight: bold;
}
header{
    padding: 20px 10px;
    color: white;
    background: #036246;
}
nav{
    background: #036246;
    height: 100vh;
    width: 70%;
}
nav ul{
    display: flex;
    flex-direction: column;
}
nav li{
    margin: 10px 0;
    padding: 20px;
}
nav a{
    display: flex;
    justify-content: center;
    transition: 300ms ease-in-out;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
nav a:hover{
    background: #048a62;
    border-right: white solir 5px;
}